  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Stocks</a></li>
  	 				<li><a href="#">Mutual Funds</a></li>
  	 				<li><a href="#">IPOs</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Invest</h4>
  	 			<ul>
  	 				<li><a href="#">Trade</a></li>
  	 				<li><a href="#">Demat</a></li>
  	 				<li><a href="#">Hot stocks</a></li>
  	 				<li><a href="#">Returns</a></li>
  	 			</ul>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
